* {
	box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: red;   
}

main {
	max-width: 800px;
	width: 100%;
	margin: auto;
	padding: 10px;
}

option{
    font-weight: 700;
    padding: 5px;    
}

.form_label{    
    font-weight: 700;
    padding: 5px;
}

.form_label-titolo{
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form_label-obbligatorio{
    color: rgb(255, 30, 0);
}

.form_input{
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 30px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.form_input:focus{
	border: 3px solid #0075ff;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.form_gruppo-btn{
    text-align: center;
}

.form_gruppo{
    text-align: center;
}

.form_btn{
    height: 45px;
    line-height: 45px;
    width: 25%;
    background: rgb(167, 10, 10);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s ease all;
}

.form_btn:focus{
    outline: none;
}

.form_btn:hover{
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.cookie-banner {
    position: fixed;
    bottom: 40px;
    left: 10%;
    right: 10%;
    width: 80%;
    padding: 5px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.close {
    height: 20px;
    background-color: #777;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}
